* {
    margin: 0px;
    padding: 0px;
}
.contenido{ 
    margin: 10px auto;
    display: flex;
    flex-direction: column;	
    width: 50%;
    margin-top: 4em;
    background-color: #65d0d0;
}
.tarjeta {
    margin-left: 1rem;
    color: rgb(13, 63, 87);
	flex-direction: row;
	text-align: center;
}
.tarjeta:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cuerpo{
	text-align: center;
}
.filas {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
p.editar {
	color: #0d6efd;
	border-radius: 2px solid rgb(143, 27, 27);
}